/* Banner & search bar*/

main {
  margin: 0px auto 50px auto;
  text-align: center;
  background-image: url('skyline.jpg');
  background-size: cover;
  background-position: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 22em;
  position: relative;
}

#city {
  width: 286px;
  height: 46px;
  border-radius: 4px;
  border: solid 2.5px #ffffff;
  background-color: #ffffff;
  opacity: 0.73;
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: #4a4a4a;
  box-sizing: border-box;
}

input:focus, #button:focus {
  outline:none
}

#button {
  width: 140px;
  height: 46px;
  border-radius: 4px;
  background-color: #27b7c1;
  border: solid 2.5px #27b7c1;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.attribution {
  font-family: Montserrat;
  color: #ffffff;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.attribution a {
  color: red;
}

form {
  height: 100px;
}

/* General styles */

h1 {
  
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.5em;
}



p {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.36;
  text-align: left;
  color: #4a4a4a;
  padding-left: 5px;
}

/* Content */

[v-cloak].container {
  display: none;
}

.container {
  max-width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5em;
}

#destination {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-align: left;
  color: #27b7c1;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

#weather {
  width: 200px;
  height: 260px;
  padding: 20px;
  
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 150px;
}

#weather, #venues, #restaurants {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#weather h3 {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 0.78;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  padding: 5px;
  margin-bottom: 0.4em;
}

.weathericon {
  width: 150px;
  height: 150px;
}

.venue {
  width: 275px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.venueimage {
  
  right: 10px;
  height: 50px;
  width: 50px;
  
}

#venues h3 {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 0.78;
  text-align: left;
  color: #27c19e;
  line-height: initial;
  
  padding: 5px;
  
  display: inline;
}

#venues {
  display: flex;
  justify-content: space-around;
  min-height: 250px;
  padding: 20px;
  flex-direction: column;
}

.restaurant {
  width: 275px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant a {
  text-decoration: none;
}

.price {
  white-space: nowrap;
}

#restaurants h3 {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 0.78;
  text-align: left;
  color: #27c19e;
  line-height: initial;
  
  padding: 5px;
  
  display: inline;
}

#restaurants {
  display: flex;
  justify-content: space-around;
  min-height: 250px;
  padding: 20px;
  flex-direction: column;
}

#flights {
  
  
}

h2.sectiontitle {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 3.4px;
  text-align: left;
  color: #4a4a4a;
  margin-bottom: 1em;
}


@media (max-width: 860px) {
  main {
    background-image: url('background_photo_moble.jpg');
  }

  h1 {
    padding-top: 80px;
    font-size: 32px;
  }

  form {
    margin-top: 30px;
    padding-bottom: 10px;
  }

  .sectiontitle, .sectiontitle h2, #destination {
    margin: auto;
    text-align: center;
  }
}