/* Banner & search bar*/

main {
  margin: 0px auto 50px auto;
  text-align: center;
  background-image: url('skyline.jpg');
  background-size: cover;
  background-position: center;
}

#loading {
  width: 20%;
  margin: 0 auto;
  
}

#spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #27b7c1; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 22em;
  position: relative;
}

.search h2 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.5em;
  display: inline-block
}

.input-container {
  display: inline-block;
  margin: 5px 10px;
}

#city, #from {
  width: 230px;
  height: 46px;
  border-radius: 4px;
  border: solid 2.5px #ffffff;
  background-color: #ffffff;
  opacity: 0.73;
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: #4a4a4a;
  box-sizing: border-box;
}

input:focus, #button:focus {
  outline:none
}

#button {
  width: 140px;
  height: 46px;
  border-radius: 4px;
  background-color: #27b7c1;
  border: solid 2.5px #27b7c1;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  margin: 5px 10px;
}

.attribution {
  font-family: Montserrat;
  color: #ffffff;
  position: absolute;
  right: 12px;
  bottom: 10px;
  font-size: 80%;
  background-color: rgba(197, 184, 184, 0.5);
  border-radius: 10px;
  padding: 5px;
  max-width: 80%;
  
}



form {
  height: 100px;
}

/* General styles */

h1 {
  
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.5em;
}



p {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.36;
  text-align: left;
  color: #4a4a4a;
  padding-left: 5px;
}

/* Content */

[v-cloak].container {
  display: none;
}

.container {
  max-width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5em;
  flex-wrap: wrap;
  flex-direction: row;
}

#destination, #loading {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-align: left;
  color: #27b7c1;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.weathericon {
  width: 150px;
  height: 150px;
}

.venue {
  width: 275px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.venueimage {
  
  right: 10px;
  height: 50px;
  width: 50px;
  
}

.content-box, .content-box-large {
  display: flex;
  min-height: 250px;
  max-height: 500px;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin: 20px 20px;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
}

.content-box {
  
  justify-content: flex-start;
  overflow-y: auto;
  width: 300px;
  min-width: 300px;
}

.content-box-large {
  width: 100%; 
}

.destination-image-container {
  height: 90%;
  position: relative;

}

.images-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.destination-image-container img {
  height: 100%;
  width: auto;
  margin: 0 10px;
}

.content-box h3, .content-box-large h3 {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 0.78;
  text-align: left;
  color: #27b7c1;
  line-height: initial;
  
  display: inline;
  
}

.content-box a {
  color: #27b7c1;
}


.restaurant {
  width: 275px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant a {
  text-decoration: none;
}

.price {
  white-space: nowrap;
}


.flight {
  width: 275px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flight-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.inbound, .outbound {
  display: inline-block;
  

}

h2.sectiontitle {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 3.4px;
  text-align: left;
  color: #4a4a4a;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 10;
  padding: 20px 0px 10px 0px;
}


@media only screen and (max-width: 450px) {
  main {
    background-image: url('skyline_mobile.jpg');
  }

  h1 {
    padding-top: 10px;
    font-size: 32px;
    margin-bottom: 0.1em;
  }

  form {
    margin: 0 20px;
    padding-bottom: 10px;
    height: auto;
  }

  
  .sectiontitle, .sectiontitle h2, #destination {
    margin: auto;
    text-align: center;
  }

  .content-box {
    width: 100%;
  }

  .content-box-large {
    margin: 20px 0px;
  }

  .images-container {
    width: 100%;
    flex-direction: column;
  }

  .destination-image-container {
    height: auto;
  }

  .destination-image-container img {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

/* Scrollbar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}